@import '~@vue/ui/dist/vue-ui.css';
@import '~primer-support/index.scss';
@import './assets/fonts/iconfont.css';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

$primary: #ffffff;
$secondary: #000000;
$bg-topnav: #000000;
$bg-color: #000000;
$bg-disabled: #222222;
$text-disabled: #888888;

$body-font-size: 17px;
$border-radius: 12px;
$h1-size: 32px;
$body-line-height: 1.2;
$border: 1px solid $bg-color;

@font-face {font-family: 'Europa-Regular';
  src: url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.eot');
  src: url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.woff2') format('woff2'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.woff') format('woff'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.ttf') format('truetype'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.svg#Europa Regular') format('svg');
}

@font-face {font-family: 'Jura';
  src:url('./assets/fonts/Jura-VariableFont_wght.ttf') format('truetype'),
}

* {
  outline: none;
}

@import '~@primer/css/index.scss';
.invert{filter:invert(1);}
.full{z-index:2;width:100vw;height:100px;bottom:0; top: unset;
  display:flex;flex-flow:row nowrap;justify-content: space-around;}
.social1{position:absolute;left:20vw;top:30vh;box-shadow:0px 0px 10px black;}
.social2{position:absolute;right:20vw;top:30vh;box-shadow:0px 0px 10px black;}
.social3{position:absolute;left:20vw;bottom:20vh;box-shadow:0px 0px 10px black;}
.social4{position:absolute;right:20vw;bottom:20vh;box-shadow:0px 0px 10px black;}
.stuff{display: flex;flex-flow: column;}
.circle-out{
  display:flex;
  flex-flow:wrap;
  justify-content:center;
  background:black;
  height:128px;
  width:128px;
  z-index:1;
  border-radius:64px;
  transition:transform 200ms ease;
  &:hover{transform:scale(1.1);}
  img{
    height:64px;
    padding:0px;
  }
  a{line-height:64px;
  padding:32px;}
}
body{
  box-shadow:inset 0px 0px 100px black;
  background-size:contain;
  background-color:darkorchid;background-blend-mode:hard-light;
  background-size:cover;background-repeat:no-repeat;
  background-image:url('./assets/poly.jpg');}

html, body, #app {
  text-align: center;
  color: white;
  font-family: 'Jura', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title{font-size:4rem;filter:invert(1);}

#app {
  mix-blend-mode:hard-light;
  background-size:cover;background-blend-mode:hard-light;
  background-:linear-gradient(45deg, rgba(115, 0, 193, 0.9) 0%, rgba(59, 7, 102, 0.9) 100%);
  min-height: 100vh;
}

h1, h2, h3, .button {
  font-family: 'Jura', sans-serif;
  font-weight:800;
  text-shadow:1px 1px $text-disabled, 0px 1px 8px white;
}

h6 {
  color: $bg-color;
  font-size: 14px;
  font-weight: normal;

  a {
    color: $primary;
    text-decoration: underline;
  }
}

a {
  cursor: pointer;
  color: white;

  &:hover {
    text-decoration: none;
  }
}
nav{
  z-index:3!important;
}

.shell{
  border-radius:2rem!important;
}


.vue-particles{
  z-index:0;
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;
  mix-blend-mode:difference;
}

.bg-topnav {
  background-color: transparent;
}
.no-marg-l{margin-left:unset!important;}
.no-marg-r{margin-right:unset!important;}

nav{
  z-index:1;
  position:relative;
}

.row{
  display:flex;
  flex-flow:row;
}

.eth-img{margin: auto 2px ;}

.bg-secondary {
  background-color: $secondary;
}

.button {
  cursor: pointer;
  font-weight: bold;
  min-width: 200px;
  padding: 0 24px;
  display: inline-block;
  border: 0;

  &:disabled {
    color: $text-disabled;
    background-color: $secondary;
    border: 0;
    cursor: not-allowed;
  }
}

.bigshadow{
  text-shadow:0px 1px #eeeeee, 0px 2px #dddddd, 0px 3px #cccccc, 0px 4px #bbbbbb, 0px 5px #aaaaaa, 0px 6px #999999, 0px 7px #888888, 0px 8px #777777, 0px 9px #666666, 0px 10px #555555, 0px 11px #444444,0px 12px #333333, 0px 13px #222222, 0px 14px #111111;}

.button-primary {
  height: 44px;
  line-height: 42px;
  border-radius: 22px;
  box-shadow:inset 0px 0px 5px rgba(0,0,0,0.5), 0px 3px #555555;;
  font-size: 15px;
  text-transform: uppercase;
  color: $secondary;
  background-color: $primary;
  transform:translateY(0px);
  &:hover{  transform:translateY(2px);  
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.5), 0px 1px #555555;;

  }
}

.button-outline {
  @extend .button-primary;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.button-info {
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  font-size: 15px;
  color: white;
  background-color: $secondary;
  min-width: auto;
}

.button-select {
  color: white;
  height: 54px;
  line-height: 54px;
  padding: 0 18px;
  border-radius: 6px;
  background-color: $secondary;

  &.active {
    box-shadow: inset 0 0 0 1px $primary;
  }
}

.logo{
  height:48px;
  margin:auto 2px;
  filter:invert(1);
}

.login-bullet {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: $primary;
  display: inline-block;
  margin-bottom: -2px;
}

.mainnav {
  height: 54px;
  line-height: 0;
  border-radius: 29px;
  overflow:hidden;
  background: transparent;
  display: inline-block;
  mix-blend-mode:exclusion;
  box-shadow:0px 0px 10px rgba(0,0,0,0.2);

}

.button-secondary {
  height: 54px;
  line-height: 52px;
  border-radius: 27px;
  font-size: 18px;
  color: white;

  &.router-link-exact-active {
    color: $primary;
    background-color: $secondary;  
    position:relative;
    z-index:1;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);

  }
}

.form {
  max-width: 368px;
  margin: 0 auto;
}

.input {
  text-align: left;
  border: 1px solid white;
  background: transparent;
  outline: none;
  display: block;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  padding: 0 14px;
  border-radius: 6px;
  color: white;
  width: 100%;

  &:focus {
    border-color: $bg-color;
  }
}

input.input:read-only {
  color: $text-disabled;
  border-color: $text-disabled;
  cursor: not-allowed;
}

::placeholder {
  color: white;
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border: 0;
  border-radius: 0;
  background-clip: padding-box;

  &:hover {
    background-color: white;
  }
}
@keyframes glow{
  0%{  box-shadow:inset 0 0 30px 0 rgba(0, 0, 0, 0.8), 0px 0px 20px rgba(0,0,0,0.2);
  }
  50%{  box-shadow:inset 0 0 10px 0 rgba(0, 0, 0, 0.2), 0px 0px 1000px rgba(255,255,255,1);
  }
  100%{  box-shadow:inset 0 0 30px 0 rgba(0, 0, 0, 0.8), 0px 0px 20px rgba(0,0,0,0.2);
  }
}

@keyframes fuck{
  0%{filter:invert(0);}
  20%{filter:invert(1);}
  30%{filter:invert(0);}
  40%{filter:invert(1);}
  50%{filter:invert(0);}
  60%{filter:invert(1);}
  70%{filter:invert(0);}
  80%{filter:invert(1);}
  90%{filter:invert(0);}
}
.block {
  @extend .container-sm;
  @extend .bg-secondary;
  @extend .py-6;
  @extend .px-4;
  @extend .mb-4;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  z-index: 2;  
  background-position:center;
  background-size:140%;
  background-color:black;background-blend-mode:hard-light;
  position: relative;
  background-image:url('./assets/ball.gif');
  p {
    max-width: 400px;
    margin: 0 auto;
  }
  &:hover {
    box-shadow:inset 0 0 30px 0 rgba(0, 0, 0, 0.8);
  }
}
.block2 {
  @extend .container-sm;
  @extend .bg-secondary;
  @extend .py-6;
  @extend .px-4;
  @extend .mb-4;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  z-index: -1;
  filter:contrast(5)brightness(5)blur(20px);
  mix-blend-mode:color-dodge;
  position: absolute;top:0;left:0;
  p {
    max-width: 400px;
    margin: 0 auto;
  }
}

.container-lg {
  max-width: 1086px;
}

.container-sm {
  max-width: 500px;
}

.modal {
  background:black;
  .backdrop {
    background: transparentize($secondary, 0.4) !important;
  }

  .shell {
    @extend .block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 420px;
    height:auto!important;

    .modal-body {
      text-align: center !important;
    }
  }

  .button {
    width: 100%;
    min-width: auto;
  }

  .button-outline {
    max-width: 50%;
  }
  &:active {
    animation:fuck 200ms ease 1;
  }
}

.text-primary {
  color: $primary;
}

.vue-ui-switch {
  &.selected {
    .wrapper {
      background-color: $primary !important;
    }

    .bullet {
      margin-left: 21px !important;
    }
  }

  .wrapper {
    width: 42px !important;
    height: 20px !important;
    border-radius: 10px !important;
    background-color: $secondary !important;

    .bullet {
      width: 18px !important;
      height: 18px !important;
      border-radius: 9px !important;
      background-color: white !important;
    }
  }
}

.vue-ui-loading-indicator {
  background-color: transparent !important;

  .animation {
    border-color: transparentize(white, 0.8);
    border-width: 4px !important;
    width: 26px !important;
    height: 26px !important;
    border-right-color: white;
  }
}

.loading-lg {
  .animation {
    border-color: transparent;
    border-right-color: $primary;
    border-width: 8px !important;
    width: 124px !important;
    height: 124px !important;
  }
}

.calendar {
  width: 309px;
  margin: 0 auto;

  .day {
    color: $text-disabled;
    text-decoration: none;
    font-size: 17px !important;
    float: left;
    text-align: center;
    line-height: 44px;
    width: 44px;
    height: 44px;

    &.selectable {
      color: white;
      background-color: transparent;

      :hover {
        background-color: $bg-color;
      }
    }

    &.selected {
      background-color: $bg-color;
      color: white;
    }
  }
}

.highlight:hover {
  background-color: $secondary;
}


.glitch{
  color:black;
  text-shadow:0px 0px 5px black;
  font-size:4rem;
  position:relative;
  width:650px;
  margin:0 auto;
  z-index:2;  
  animation:skew 2s infinite linear alternate-reverse;

}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  text-shadow:-1px 0 indianred;
  top:0px;
  left:0px;
  z-index: -1;
  color:transparent;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 1s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
@keyframes skew{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      transform: skew(random(20)+deg);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;  
  z-index: -1;
  text-shadow:1px 0 cyan; 
  top:0;
  color:transparent;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}
@media screen and (max-width:548px) {
  .glitch{font-size:2rem!important;width:350px;}
  .block{max-width:400px;width:400px;height:400px;}
  .block2{max-width:400px;width:400px;height:400px;}
  h3{font-size:1em!important;}
  p{font-size:0.8rem;}
}
@media screen and (max-height:800px) {
  .glitch{font-size:2em!important;width:350px;}
  .block{max-width:400px;width:400px;height:400px;}
  .block2{max-width:400px;width:400px;height:400px;}
  h3{font-size:1em!important;}
  p{font-size:0.8rem;}
}
@media screen and (max-width:100vh) {
  .circle-out{
    display:flex;
    flex-flow:wrap;
    justify-content:center;
    background:black;
    height:64px;
    width:64px;
    z-index:1;
    border-radius:64px;
    transition:transform 200ms ease;
    &:hover{transform:scale(1.1);}
    img{
      height:32px;
      padding:0px;
    }
    a{line-height:32px;
    padding:16px;}
  }
  .glitch{font-size:2rem;width:max-content;}

.social1{position:relative;left:unset;bottom:unset;top:unset;box-shadow:0px 0px 10px black;}
.social2{position:relative;right:unset;bottom:unset;top:unset;box-shadow:0px 0px 10px black;}
.social3{position:relative;left:unset;bottom:unset;top:unset;box-shadow:0px 0px 10px black;}
.social4{position:relative;right:unset;bottom:unset;top:unset;box-shadow:0px 0px 10px black;}

}
